<app-nav></app-nav>
<section id="pageOne">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="bg">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="../../assets/images/sell/sell1.jpg" height="100%" width="100%" alt="">
                        </div>
                        <div class="col-sm-8">
                            <h4>Magdalene</h4><hr>
                            <p><b>Gender:</b>Female</p>
                            <p><b>Age:</b>2 years</p>
                            <p><b>breed:</b>Poodel Mix</p>
                        </div>
                    </div>
                    <div class="text-center mt-2 p-2">
                        <hr>
                        <button class="btn btn-primary w-50 text-uppercase" >More Info</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bg">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="../../assets/images/sell/sell2.jpg" height="100%" width="100%" alt="">
                        </div>
                        <div class="col-sm-8">
                            <h4>Jonas</h4><hr>
                            <p><b>Gender:</b>Male</p>
                            <p><b>Age:</b>4 years</p>
                            <p><b>breed:</b>Husky</p>
                        </div>
                    </div>
                    <div class="text-center mt-2 p-2">
                        <hr>
                        <button class="btn btn-primary w-50 text-uppercase" >More Info</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="bg">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="../../assets/images/sell/sell3.jpg" height="100%" width="100%" alt="">
                        </div>
                        <div class="col-sm-8">
                            <h4>Milena</h4><hr>
                            <p><b>Gender:</b>Female</p>
                            <p><b>Age:</b>2 years</p>
                            <p><b>breed:</b>Jack Russel</p>
                        </div>
                    </div>
                    <div class="text-center mt-2 p-2">
                        <hr>
                        <button class="btn btn-primary w-50 text-uppercase" >More Info</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bg">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="../../assets/images/sell/sell4.jpg" height="100%" width="100%" alt="">
                        </div>
                        <div class="col-sm-8">
                            <h4>Gordita</h4><hr>
                            <p><b>Gender:</b>Female</p>
                            <p><b>Age:</b>1.5 years</p>
                            <p><b>breed:</b>Mixed</p>
                        </div>
                    </div>
                    <div class="text-center mt-2 p-2">
                        <hr>
                        <button class="btn btn-primary w-50 text-uppercase" >More Info</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3 mb-3">
            <button class="btn btn-danger w-50" >See More</button>
        </div>
    </div>
</section>
<app-footer></app-footer>
