<app-nav></app-nav>
<section id="pageOne" >
    <div class="text">
        <div class="container">
            <h1 class="text-center" >Our Service</h1><hr>
            <p class="text-center" >Our Pet Care Service providing affordable and caring services for your pet.</p>
            <div class="row mt-4">
                <div class="col-sm-3 text-center ">
                    <img src="../../assets/images/service/dog-care.png" alt="">
                    <h6>Pet Care</h6>
                    <p>Being responsible pet ownership and pet health care. We provide a service for pets that needs care and attention to keep them healthy, happy, and safe. Our service that provides a valuable companion for your pets grooming, boarding and teaching sitting that its truly reliable and trusted.</p>
                </div>
                <div class="col-sm-3 text-center ">
                    <img src="../../assets/images/service/grooming.png" alt="">
                    <h6>Pet Grooming</h6>
                    <p>With proper pet grooming, our service will provides bathing, brushing, clipping, or styling a pet and trimming a pet's nails. It will also allow to identify any underlying conditions or diseases early, we provide a treatment for better owner-animal health and to keep them clean from our aesthetic service.</p>
                </div>
                <div class="col-sm-3 text-center ">
                    <img src="../../assets/images/service/pet-boarding.png" alt="">
                    <h6>Pet Boarding</h6>
                    <p>When you have to go away or work long hours, don’t worry about leaving your pet alone because we serve boarding for your pet, we try our best to make them feel as much like they are at home as possible and we take care of all their needs.</p>
                </div>
                <div class="col-sm-3 text-center ">
                    <img src="../../assets/images/service/sitting-dog.png" alt="">
                    <h6>Pet Sitting</h6>
                    <p>Our Pet Care Services provides pet sitting services that can help you customize the perfect feeding, exercise, and schedule for your pet while helping them learn the proper way to behave in your home.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="triangle-pic ">
        <img src="../../assets/images/service/triangle.png" width="100%" height="100%" alt="">
    </div>
</section>
<section id="pageTwo" >
    <div class="container">
        <h1 class="text-center" >Why PUMP'S</h1>
        <hr>
        <div class="row mt-5">
            <div class="col-sm-3 text-center ">
                <h6>Here when you need us</h6>
                <p>Whether you're looking for daily walks, planning a trip, stuck at work, or just want your best friend to have some company — we offer any day, anytime care.</p>
            </div>
            <div class="col-sm-3 text-center ">
                <h6>Safety is serious business</h6>
                <p>Your dog's safety is our top priority. Every Pet Caregiver passes an enhanced background check, our services are insured, and support is standing by around the clock.
                </p>
            </div>
            <div class="col-sm-3 text-center ">
                <h6>All about convenience</h6>
                <p>We've thought of everything, so you don't have to. From GPS-tracked walks and customized lockboxes, to easy booking on the PUMP'S app, we make your life easier at every step.</p>
            </div>
            <div class="col-sm-3 text-center ">
                <h6>We've been around the block</h6>
                <p>PUMP'S has a trusted record of experience with over 12.1M pet care services across 5,300 cities and counting. More than 400,000 Pet Caregivers nationwide are dog people, and it shows.</p>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>